
<div class="text-center mt-3">
<h1 class="text-center">Peças de Montagens</h1>
  
    <%= link_to "Nova peça de montagem", new_assemblies_part_path, class: "btn btn-success" %>
    <%= link_to "Filtrar Montagens", filtrar_montagem_path, class: "btn btn-primary" %>
    <%= link_to "Relatório Montagens", relatorio_livro_path, class: "btn btn-primary" %>
  <% @assemblies_parts.each do |assemblies_part| %>
    <p>
    <%= render "assemblies_part", assemblies_part: assemblies_part %>
    <%= link_to "Mostrar esta peça de montagem", assemblies_part, class: "btn btn-info btn-sm" %>
    </p>
  <% end %>
</div>