<div id="<%= dom_id author %>">
<p>
<strong>ID:</strong>
<%= author.id %>
</p>

  <p>
    <strong>Nome:</strong>
    <%= author.name %>
  </p>

  <p>
  <strong>CPF:</strong>
  <%= author.cpf %>
</p>
  
<p>
<strong>Fornecedor:</strong>
<%= author.sup_id %>
</p>
   
  
  </div>




