
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div id="<%= dom_id  author %>" class="text-center">
        <div class="table-container">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th>ID</th>
                <td><%= author.id %></td>
              </tr>
              <tr>
                <th>Nome</th>
                <td><%= author.name %></td>
              </tr>
              <tr>
                <th>CPF</th>
                <td><%= author.cpf %></td>
              </tr>
              <tr>
              <th>Fornecedor</th>
              <td><%= author.supplier.name if author.supplier %></td>
             </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




