<div class="container mt-4">
  <h1 class="text-center">Filtrar Livros por nome do Autor</h1>
  <%= form_tag(filtrar_autor_path, method: "get", class: "text-center") do %>
    <div class="form-group row justify-content-center">
      <%= label_tag :search_author, "Nome do Autor:", class: "col-md-2 col-form-label" %>
      <div class="col-md-6">
        <div class="input-group">
          <%= text_field_tag :search_author, params[:search_author], class: "form-control form-control-sm", placeholder: "Digite o nome do Autor" %>
          <div class="input-group-append">
            <%= submit_tag "Filtrar", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to "Voltar para Autores", authors_path, class: "btn btn-secondary btn-sm" %>
  </div>

  <% if params[:search_author].present? %>
    <% if @books.any? %>
      <table class="table table-sm table-striped mt-4">
        <thead>
          <tr>
            <th scope="col">Título do Livro</th>
            <th scope="col">ISBN</th>   
            <th scope="col">Publicação</th> 
            <th scope="col">Nome do Autor</th>
            </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.isbn %></td>
              <td><%= book.publishing %></td>
              <td><%= book.author.name %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
    <p>
      <p class="text-center">Nenhum livro encontrado para o autor especificado.</p>
    <% end %>
  <% end %>
</div>
