<div id="<%= dom_id account %>" class="text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="table-container">
          <table class="table table-condensed table-striped table-bordered">
            <tbody>
              <tr>
                <th>ID:</th>
                <td><%= account.supplier_id %></td>
              </tr>
              <tr>
                <th>Número da Conta:</th>
                <td><%= account.account_number %></td>
              </tr>
              <tr>
                <th>Dígito da Conta:</th>
                <td><%= account.digito_verificador %></td>
              </tr>
              <tr>
                <th>Nome do Fornecedor:</th>
                <td>
                  <%= account.supplier.present? ? account.supplier.name : "Nenhum fornecedor selecionado" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
