
  <%= form_with(model: account) do |form| %>
    <% if account.errors.any? %>
      <div style="color: red">
      

        <ul>
          <% account.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
 
      
    <div class="form-group">
    <%= form.label :supplier_id, "Fornecedor", class: "control-label" %>
    <%= form.select :supplier_id, Supplier.all.map { |s| [s.name, s.id] }, { include_blank: "Selecione um fornecedor" }, class: "form-control" %>
     </div>
     <br>
    <div>
      <%= form.label :account_number,"Número da Conta:", style: "display: block" %>
      <%= form.text_field :account_number %>
    </div>
  
    <div class="mt-3">
      <%= form.submit "Alterar", class: "btn btn-success btn-sm", style: "width: 60px;" %>
    </div>
  <% end %>
