<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div id="<%= dom_id book %>" class="text-leftr">
        <div class="table-container">
          <table class="table table-bordered table-striped rounded">
            <tbody>
              <tr>
                <th class="text-left">ID</th>
                <td class="text-left"><%= book.id %></td>
              </tr>
              <tr>
                <th class="text-left">Título</th>
                <td class="text-left"><%= book.title %></td>
              </tr>
              <tr>
                <th class="text-left">ID Autor</th>
                <td class="text-left"><%= book.author_id %></td>
              </tr>
              <tr>
                <th class="text-left">Autor</th>
                <td class="text-left"><%= book.author.name %></td>
              </tr>
              <tr>
                <th class="text-left">ISBN</th>
                <td class="text-left"><%= book.isbn %></td>
              </tr>
              <tr>
                <th class="text-left">Publicado</th>
                <td class="text-left"><%= book.publishing %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
