<div id="<%= dom_id book %>">
  <p>
    <strong>Título:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>ID Autor:</strong>
    <%= book.author_id %>
  </p>

  <p>
  <strong>Autor:</strong>
  <%= book.author.name %> 
</p>
  
  
  <p>
    <strong>Publicado:</strong>
    <%= book.publishing %>
  </p>


 </div>



