<%= form_with(model: part) do |form| %>
  <% if part.errors.any? %>
    <div style="color: red">
      <ul>
        <% part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
   <br>
   <br>        
   <br>        
     <%= form.label :part_number, "Número da Peça", style: "display: block" %>
    <%= form.text_field :part_number %>
  </div>

  <div>
  <%= form.label :part_number, "Nome", style: "display: block" %>
  <%= form.text_field :nome %>
</div>

<div>
<%= form.label :valor, "Valor:", style: "display: block" %>
<%= form.text_field :valor %>
</div>

 
  <div class="mt-3 d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-success btn-sm", style: "width: 60px;" %>
  </div>
<% end %>



