<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" style="padding-top: 5px; padding-bottom: 5px;">
  <div class="container">
    <span class="navbar-brand" style="font-size: 2em; font-weight: bold; margin-right: 20px;">Peças</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
          <%= link_to 'Página Inicial', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(new_part_path) %>">
          <%= link_to 'Nova Peça', new_part_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(filtrar_peca_path) %>">
          <%= link_to 'Filtrar Peças', filtrar_peca_path, class: 'nav-link' %>
        </li>
        </ul>
    </div>
  </div>
</nav>

<div class="text-center mt-3">
  <p class="alert "><%= notice %></p>

  <div id="parts" class="mx-auto">
    <% @parts.each do |part| %>
      <br>
      <%= render part %>
      <p>
        <%= link_to "Mostrar esta peça", part, class: "btn btn-info btn-sm" %>
      </p>
    <% end %>
  </div>
</div>
